* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;

  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #a30005;
  margin-top: 50px;
  justify-content: center;
}
.thumnail {
  width: 988px;
  height: 344px;
  margin-left: 200px;
}
.site-menu {
  position: relative;
}
.menu-dropdown {
  width: 200px;
  height: 344px;
  position: absolute;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 25%);
  background-color: #fff;
}
.menu-root {
  width: 200px;
  padding: 8px 0 12px;
  list-style: none;
  height: 100%;
  margin: 0;
}
.root-item {
  display: flex;
  flex-wrap: nowrap;
  width: 200px;
  list-style: none;
  padding-left: 8px;
  height: 27px;
  line-height: 27px;
}
.root-item:hover {
  background-color: rgb(235, 231, 231);
}
.root-item:hover > span {
  cursor: pointer;
  color: chocolate;
}
.root-item:hover .sub-menu-1 {
  display: block;
}
.sub-menu-1 {
  display: none;
  padding: 8px 0 12px;
  width: 200px;
  height: 344px;
  position: absolute;
  list-style: none;
  left: 200px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
.sub-menu-1-item {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
}
.sub-menu-1-item:hover {
  background-color: rgb(235, 231, 231);
}

.sub-menu-1-item:hover > span {
  color: chocolate;
  cursor: pointer;
}
.sub-menu-1-item span {
  line-height: 27px;
  padding-left: 8px;
  height: 27px;
}
.sub-menu-1-item:hover .sub-menu-2 {
  display: block;
}
.sub-menu-2 {
  display: none;
  padding: 8px 0 12px;
  height: 344px;
  position: absolute;
  width: 200px;
  list-style: none;
  left: 200px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}
.sub-menu-2-item {
  list-style: none;
}
.sub-menu-2-item:hover > span {
  color: chocolate;
  cursor: pointer;
}
span {
  display: inline block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 172px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 27px;
  color: #757575;
  cursor: pointer;
}
.root-item:hover > .icon {
  display: block;
}
.sub-menu-1-item:hover .icon {
  display: block;
}
.icon {
  display: none;
  width: 28px;
}
.root-item > .icon {
  position: absolute;
  left: 185px;
}
.sub-menu-1-item > .icon {
  position: absolute;
  left: 177px;
}
